body {
    background-color: #2f2f2f;
}
h1 {
    text-align: center;
    color: rgb(143, 143, 255);
    font-size: 5vh;
}

h2 {
    text-align: center;
    color: lightblue;
    font-size: 3vh;
}

p {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2vh;
}

.const-image {
    width:40vw;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-20%,-50%);
}

.page-button {
    outline: none;
    padding: 2vh 2vw;
    font-size: 2vh;
    position: absolute;
    color: white;
    background-color: black;
    transition: background-color 500ms, font-size 500ms;
    border-radius: 10px;
    border-width: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-decoration: none;
}
.page-button:hover {
    background-color: rgb(30,30,30);
    font-size: 200%;
    transition: background-color 200ms, font-size 200ms;
}